page-images-res {
    .temp{
        text-align: center !important;
    } 
    .masters {
        background-color: #eceff1;
      }
      ion-card {
        border-top: 2px solid colorofyourchoice!important ;
        border-color: black!important;
        border-radius : 20px!important ;
     }
}
